.header{
    background-color: #eeeeee;
    display: flex;
    padding: 0 !important;
}
.header .headerLink{
    padding: 0 0.825rem;
    text-decoration: none;
    color: #212529;
}
.header .listItem{
    width: 6%;
    text-align: center;
}
.header .headerLink:hover{
    background-color: #bdbdbd;
}
.header .listItem:hover{
    background-color: transparent;
}